:root {
  --yellow: #fae100;
  --horizontal-space: 20px;
  --main-border: 1px solid rgba(0, 0, 0, 0.2);
  --grey2: rgba(0, 0, 0, 0.2);
  --grey3: rgba(0, 0, 0, 0.3);
  --grey4: rgba(0, 0, 0, 0.4);
  --grey5: rgba(0, 0, 0, 0.5);
  --grey6: rgba(0, 0, 0, 0.6);
}
