#chat-screen {
  background-color: #abc1d1;
  height: 100vh;
}
#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(171, 193, 209, 0.7);
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
}

.main-chat {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 10px;
  border-radius: 25px;
  font-size: 12px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}

.message__author {
  opacity: 0.8;
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 8px 12px;
  border-radius: 10px;
  margin-right: 5px;
  position: relative;
}

.message__bubble::after {
  position: absolute;
  content: "";
  border: 7px solid transparent;
}

.bubble-bottom::after {
  border-top-color: white;
  border-bottom: 0;
  left: -7px;
  top: 50%;
  margin-top: -12px;
}

.message__info {
  display: flex;
  align-items: end;
}

.message__time {
  opacity: 0.8;
  font-size: 15px;
}

.message-row--own {
  justify-content: flex-end;
}

/* Own side message bubble modifiers */
.message-row--own .message__bubble {
  background-color: var(--yellow);
  margin-right: 0px;
  margin-left: 5px;
}

.bubble-bottom-1::after {
  border-top-color: var(--yellow);
  right: -7px;
  border-bottom: 0;
  top: 50%;
  margin-top: -12px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
}

.reply__column i {
  color: var(--grey4);
}

.reply__column:last-child i {
  position: absolute;
  right: 10px;
  top: 10px;
}

.reply__column:last-child i:nth-child(2) {
  right: 50px;
}
