#mm {
  border-radius: 18px;
}

.wallet {
  display: flex;
  flex-direction: column;
  background-color: var(--yellow);
  padding: 25px;
}

.wallet-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wallet-row:first-child .wallet-column:first-child span{
  font-weight: bold;
  font-size: 20px;
}

.wallet-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wallet-header {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.wallet-icon {
  height: 22px;
  width: 22px;
}

.wallet-row:nth-child(2) {
  background-color: white;
  padding: 15px 10px;
  border-radius: 5px;
}

#vaccine {
  background-color: blue;
  height: 26px;
  width: 26px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

#vaccine i {
  color: white;
}

.wallet-row:nth-child(3) .wallet-column:first-child span{
  font-weight: bold;
}

.wallet-row:last-child {
  margin-bottom: 0;
}

.wallet-footer {
  padding: 0 20px;
}

.wallet-footer:first-child {
  padding-left: 0;
}

.wallet-footer:not(:last-child) {
  border-right: 1px solid var(--grey4);
}

.wallet-row:last-child .wallet-column:last-child i {
  margin-right: 10px;
}

/* weather */

.weather {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.weather-main {
  display: flex;
  flex-direction: row;
}

.weather-title {
  font-size: 15px;
}

.weather-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-main-icon {
  height: 45px;
  width: 45px;
  margin-top: 10px;
}

.weather-left {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 13px;
  margin-left: 10px;
}

.weather-sub-subtitle {
  margin: 5px 0px;
}

#dust {
  color: var(--grey4);
}
#dust-state {
  color: #8ec4ff;
}

.weather-box {
  display: flex;
  flex-direction: row;
}

.main-temp {
  font-size: 40px;
  margin-left: 5px;
  padding-top: 12px;
}

.weather-icon {
  height: 20px;
  width: 20px;
  padding-top: 40px;
}

@keyframes weatherChange {
  0% {
    transform: scale(none);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(none);
  }
}

.weather object:hover {
  will-change: transform;
  animation: weatherChange 1s linear infinite;
}
