.alt-header {
  margin-top: 27px;
  padding: 10px 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header-icons {
  height: 40px;
  width: 20px;
}

.alt-header-title {
  font-size: 24px;
  font-weight: 600;
  justify-content: center;
  opacity: initial;
}

.alt-header-column {
  width: 33%;
}

.alt-header-column:first-child {
  margin-right: auto;
  justify-items: flex-start;
}

.alt-header-column:nth-child(2) {
  text-align: center;
}

.alt-header-column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header-column:last-child span:not(:first-child) {
  margin-left: 20px;
}

.setting-header {
  margin-bottom: 30px;
}
