.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-around;
}
.nav__link {
  color: inherit;
  color: #2e363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: -12px;
}

.nav__notification-2 {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 35px;
}
